The gallery ...

<hr/>
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        |
        <a asp-area="" asp-controller="ArtworksList" asp-action="Index">Artworks list</a>
    </p>
</div>
