<p>List of current artworks ...</p>

<hr />
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        |
        <a asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
    </p>
</div>
