@model ArtworkDataPartial


<div class="card">
    <img class="card-img-top" src=@Model.ImageUrl alt="Card image cap">
    <div class="card-body">
        <h6 class="card-title">@Model.Title, @Model.Date</h6>
        <p class="card-text">
            @Model.Artist
        </p>
        @*<a href="#!" class="btn btn-outline-dark btn-sm">More details</a>*@
        <a asp-controller="ArtworkDetails" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm">More details</a>
    </div>
</div>